body{
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    background: url("pic/fon.jpg") 0 0 no-repeat fixed;
    background-size: cover;
    text-align: center;
    height: 100%;
}
.title{
    font-size:66px;
    width: 100%;
    height: 10%;
    font-weight: 900;
    text-shadow: 2px 2px 5px chartreuse;

    padding-bottom: 70px; /*отступ снизу*/



}
.side{
    width: 21%;
    height: 1000px;

    display: inline-block; /*дивы*/
    
      
    display: inline-block;

    margin: 0px;
}

.center{
    width: 56%;
    height: 1000px;
    display: inline-block;
    background: rgba(245, 245, 245,0.3);
    border: 3px solid black;
   
}
.div{
   width: 100%;
   height: 100%;
   display: inline-block;
}
.main_link{
   font-size:34px;
   text-shadow: 2px 2px 5px chartreuse;
   display: inline-block;
   width: 20%;
   text-align: center;
   margin: 0px 15px 30px 15px;
   border-radius: 15px;
   border:rgb(165, 160, 160) 5px solid;
   background: rgba(245, 245, 245,0.3);
}
a:link{
text-decoration: none;
}
a:hover{
color:red;
}
a:visited{
color:none;
}
a{
   color:black;
}
#fixed_main_link{
    position: fixed;
    width: 100%;
    top: -80px;
    transition: top 0.2s;
    margin: 0px;
    background: url("pic/fon.jpg") 0 0 no-repeat fixed;
    background-size: cover;

}
.main_fixed_link{
    font-size:34px;
    text-shadow: 2px 2px 5px chartreuse;
    display: inline-block;
    width: 20%;
    text-align: center;
    margin: 5px 15px 15px 15px;
    border-radius: 15px;
    border:rgb(165, 160, 160) 5px solid;
    background: rgba(245, 245, 245,0.3);
 }