body{
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
<<<<<<< HEAD
    color:rgb(223, 63, 223);
    background: url("pic/fon.jpg") 0 0 no-repeat fixed;  /*Поиграй с последними знач. rgba, главное делай их одинаковыми*/
}
.bluegreen{
=======
    background: url("pic/fon.jpg") 0 0 no-repeat fixed;
    background-size: cover;
>>>>>>> 05e17c3d4182fdaa6f4e6b5dd0cacf59af787912
    text-align: center;
    height: 100%;
}
.title{
    font-size:66px;
    width: 100%;
    height: 10%;
    font-weight: 900;
    text-shadow: 2px 2px 5px chartreuse;
    padding-bottom: 70px;
}
.side{
    width: 21%;
    height: 1000px;
    display: inline-block;
    margin: 0px;
}

.center{
    width: 56%;
    height: 1000px;
    display: inline-block;
    background: rgba(245, 245, 245,0.3);
    border: 3px solid black;
    margin: 0px;
}
.div{
   width: 100%;
   height: 100%;
   display: inline-block;
}