.new_image_div{
    margin: 5% 10% 10% 25%;
    height:400px;
    width: 400px;
    background: linear-gradient( rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.14) ), url('https://mtdata.ru/u26/photo0C99/20087384244-0/original.jpg');
    background-size: cover;
    transition: transform .5s;
    }
.new_image_div:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: (1.2);
}
#ll{
    height: 100%;
    width: 100%;
    
}

/*    -ms-transform: scale(1.2); IE 9 */
/*-webkit-transform: scale(1.2);  Safari 3-8 */
/*transform: (1.2);*/